# Ignore everything
*

# But not this fileslean_cv.cls
!visualizations.sty
!lean_cv.cls
!template.tex
!timeline.sty
!.gitignore
!tennis_clipart.png
!swimming_clipart.png
!cycling_clipart.png
!README.md
!template.pdf